#header {
  display: flex;
  margin: 0 1em;
  justify-content: space-between;
  align-items: center;
}

#header button {
  padding: 0.5em 1em;

  font-size: 1.2em;
  background-color: white;
  border: 1px solid #999;
}

#header button:hover {
  cursor: pointer;
}

#header #login.is-login {
  background-color: #eee;
}

#header #post.is-login {
}
