#list {
  display: flex;
  /* justify-content: center; */

  background-color: #ddd;
}

#list .ul {
  display: flex;
  padding: 0.5em 0;
  overflow-x: auto;
}

#list button {
  margin: 0 0.5em;
  padding: 0;
  max-width: 15em;
  min-width: 12em;

  border: none;
  border: 1px solid #bbb;
  background-color: white;

  transition: filter 0.3s;
}

#list button:hover {
  cursor: pointer;

  filter: brightness(1.2);
}

#list button:active {
  filter: brightness(1.4);
}

#list .img {
  height: 8em;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* overflow: hidden; */
}

/* #list img { */
/*   /1* position: relative; *1/ */
/*   /1* top: 50%; *1/ */
/*   /1* transform: translateY(-50%); *1/ */

/*   /1* max-height: 100%; *1/ */
/*   /1* max-width: 100%; *1/ */

/* } */

#list .desc {
  padding: 0 1em 0.5em 1em;
  text-align: left;
}

#list .title {
}

#list .author {
  font-size: 0.8em;
  color: gray;
}
